.imag{
    height: 10rem;width: 10rem;
    border-radius: 50%;
}
h3{
    color: white;
    font-family: cursive;
}
.App{
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 40px;
    
}
button{
    color: green;
    background-color: white;
    border:solid 0.5px;
    border-radius: 45px;
    width: 100px;
    align-items: center;
    cursor: pointer;
    height: 30px;
}
.container{
    display: flex;
    flex-direction: column;
}
#root{
    display: flex ;
    align-items: center;
    justify-content: center;
    background-color: limegreen;
    margin: 0;
}
body{
    margin: 0;
}
